@model CulinaryBlogCore.Models.RecipeViewModels.RecipeSubscriptionViewModel;

@{
    ViewData["Title"] = "Recipe Subscriptions";
}

<section class="subscriptions">
    <form action="#" method="post" class="subscriptions-send-form">
        <div class="subscriptions-block">
            <div class="subscription-title">
                <h2>Recipe Subscriptions</h2>
            </div>
            <article>
                <p>Email</p>
                <p>User</p>
                <p>Subscription Date</p>
            </article>
            @foreach (var subscription in Model.Subscriptions)
            {
                <article>
                    <p>@subscription.Email</p>
                    <p>
                        @if (subscription.User != null)
                        {
                            <text>@subscription.User.UserName</text>
                        }
                        else
                        {
                            <text> - </text>
                        }
                    </p>
                    <p>@subscription.CreationTime.ToString("dd.MM.yyyy")</p>
                </article>
            }
            <div class="subscriptions-send-block">
                <button type="button" class="subscriptions-send" data-toggle="modal" data-target="#sendSubscriptionsModal">
                    Send best recipes
                </button>
                <p class="subscriptions-send-message"></p>
            </div>
        </div>
        @Html.Partial("ModalBox", new ModalBoxViewModel
        {
            TargetId = "sendSubscriptionsModal",
            Title = "Send best recipes",
            Message = "Are you sure you want to send mails?",
            ButtonClass = "btn-warning",
            ButtonText = "Send"
        });
    </form>
</section>