@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@using CulinaryBlogCore.Data.Models.Identity;
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

<section class="login">
    <div class="login-form">
        <div class="login-header">
            <h2>Login</h2>
            <p><span>Cooking</span> with account better!</p>
            <i class="fas fa-utensils"></i>
        </div>
        <div class="login-content">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <label>
                    <input asp-for="UserName" type="text" name="@Html.NameFor(r => r.UserName)" placeholder="Username"/>
                    <i class="fas fa-user"></i>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </label>
                <label>
                    <input asp-for="Password" type="password" name="@Html.NameFor(r => r.Password)" placeholder="Password" />
                    <i class="fas fa-lock"></i>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </label>
                <label>
                    <input asp-for="RememberMe" type="checkbox" name="@Html.NameFor(r => r.RememberMe)">
                    <span>Remember me</span>
                </label>
                <input type="submit" value="Login">
            }
        </div>
    </div>
</section>