@{
    ViewData["Title"] = "Recipe";
}
<section class="receipt salads">
    <article>
        <h2>Healthy salad</h2>
        <div class="receipt-header">
            <ul>
                <li><h4>Preparation</h4> <i class="far fa-clock"></i> <span>20 min</span></li>
                <li><h4>Cooking</h4> <i class="fas fa-cookie-bite"></i> <span>10 min</span></li>
                <li><h4>Portions</h4> <i class="fas fa-coffee"></i> <span>4-6</span></li>
            </ul>
            <div class="votes">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <span>4.2(23)</span>
                <p><i class="fas fa-eye"></i> 1536 views</p>
            </div>
        </div>
        <div class="receipt-main">
            <div class="receipt-main-image">
                <img src="/images/Salads/salad-healthy.jpg" alt="salad-healthy">
            </div>
            <div class="receipt-main-products">
                <h4>Products:</h4>
                <ol>
                    <li>a bunch of oatmeal</li>
                    <li>1 tablespoon olive oil</li>
                    <li>¼ head  lettuce, chopped</li>
                    <li>¼ cup chopped red onion</li>
                    <li>3 green onions, chopped</li>
                    <li>¼ cucumber, diced</li>
                    <li>2 grated carrots</li>
                    <li>1 tablespoon lemon juice</li>
                </ol>
            </div>
        </div>
        <div class="receipt-content">
            <h4>Receipt:</h4>
            <ul>
                <li>Fill a bowl with boiling water; add oat. Cover bowl and let sit until oat  are softened, about 10 minutes. Drain.</li>
                <li>Mix  lettuce, red onion, green onions, cucumber, carrots with oat.</li>
                <li>Whisk 1/3 cup olive oil, lemon juice,  together in a bowl; pour over oat mixture and toss to coat.</li>
            </ul>
        </div>
    </article>
    <article>
        <h2>Meat salad</h2>
        <div class="receipt-header">
            <ul>
                <li><h4>Preparation</h4> <i class="far fa-clock"></i> <span>54 min</span></li>
                <li><h4>Cooking</h4> <i class="fas fa-cookie-bite"></i> <span>37 min</span></li>
                <li><h4>Portions</h4> <i class="fas fa-coffee"></i> <span>10-14</span></li>
            </ul>
            <div class="votes">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>5.7(76)</span>
                <p><i class="fas fa-eye"></i> 2326 views</p>
            </div>
        </div>
        <div class="receipt-main">
            <div class="receipt-main-image">
                <img src="/images/Salads/meat-salad.jpg" alt="meat-salad">
            </div>
            <div class="receipt-main-products">
                <h4>Products:</h4>
                <ol type="1">
                    <li>2 grated cucumbers </li>
                    <li>3 carrots, chopped</li>
                    <li>150 - 200 g duck meat</li>
                    <li>2 green peppers</li>
                    <li> 150 - 200 g chicken</li>
                    <li>1 tablespoon vinegar</li>
                    <li>2 tablespoon oil</li>
                    <li>1 cup of salt</li>
                </ol>
            </div>
        </div>
        <div class="receipt-content">
            <h4>Receipt:</h4>
            <ul>
                <li>Wash the vegetables and grate them on a larger grater.</li>
                <li>Cut the meat into thin strips and smell it for about 30 minutes in a saucepan. Once it has cooled, salt it and marinate with vinegar.</li>
                <li>Put all the products in a wide plate and pour with the oil.</li>
            </ul>
        </div>
    </article>
    <article>
        <h2>Shopska salata</h2>
        <div class="receipt-header">
            <ul>
                <li><h4>Preparation</h4> <i class="far fa-clock"></i> <span>16 min</span></li>
                <li><h4>Cooking</h4> <i class="fas fa-cookie-bite"></i> <span>34 min</span></li>
                <li><h4>Portions</h4> <i class="fas fa-coffee"></i> <span>16-19</span></li>
            </ul>
            <div class="votes">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <span>4.63(56)</span>
                <p><i class="fas fa-eye"></i> 345 views</p>
            </div>
        </div>
        <div class="receipt-main">
            <div class="receipt-main-image">
                <img src="/images/Salads/shopska-salata.jpg" alt="shopska-salata">
            </div>
            <div class="receipt-main-products">
                <h4>Products:</h4>
                <ol type="1">
                    <li>2 pieces, mature, red tomatoes</li>
                    <li>1 count cucumbers</li>
                    <li>1 head, small onion onion</li>
                    <li>4 - 5 pieces olives</li>
                    <li>150 - 200 g cheese</li>
                    <li>1 tablespoon vinegar</li>
                    <li>1 - 2 tablespoons olive oil</li>
                    <li>1 cup of salt</li>
                </ol>
            </div>
        </div>
        <div class="receipt-content">
            <h4>Receipt:</h4>
            <ul>
                <li>Cut the onion into thin half moons and grind it with a little salt in a large bowl. If desired, you can also use red onions. Cut the tomatoes and cucumbers into pieces and add them to the onion.</li>
                <li>Pour the peppers, peel them and add them to the salad, cut into small rows, then the olives. Stir the salad, add, pour the vinegar and olive oil.</li>
                <li>Crumble the cheese on the vegetables, sprinkle with chopped parsley, garnish with an olive in the middle and serve.</li>
            </ul>
        </div>
    </article>
</section>