@model CulinaryBlogCore.Models.RecipeViewModels.RecipeDetailsViewModel;

@using CulinaryBlogCore.Models.RecipeViewModels;

@{
    ViewData["Title"] = "Details Recipe";
    ViewData["CurrUserId"] = Model.CurrUserId;
}
<section class="receipt @Model.Category.Name" style="background: url( @Model.Category.BackgroundImgPath ) no-repeat center fixed; background-size: cover;">
    @foreach (RecipeDetailsViewModel recipe in Model.Recipes)
    {
        @Html.Partial("RecipePartial", recipe)
    }
    @Html.Partial("ModalBox")
</section>