@model CulinaryBlogCore.Models.RecipeViewModels.RecipeDetailsViewModel;

@{
    ViewData["Title"] = "Details Recipe";
    ViewData["CurrentUserId"] = Model.CurrentUserId;
}
<section class="receipt @Model.Category.Name" style="background: url( @Model.Category.BackgroundImgPath ) no-repeat center fixed; background-size: cover;">
    @foreach (var recipe in Model.Recipes)
    {
        @Html.Partial("_RecipePartial", recipe)
    }

    @Html.Partial("ModalBox", new ModalBoxViewModel
    {
        TargetId = "deleteProductModal",
        Title = "Delete Product",
        Message = "Are you sure you want to permanently remove this product?",
        ButtonClass = "btn-danger remove-product",
        ButtonText = "Delete"
    })
</section>