@model CulinaryBlogCore.Models.RecipeViewModels.GalleryViewModel;

@using CulinaryBlogCore.Models.RecipeViewModels;

@{
    ViewBag.Title = "Gallery";
    int columnCount = 3;
}

@foreach (var gallery in Model.Galleries)
{
    <section class="salads-pictures">
        <div class="salads-pictures-title">
            <h2>@gallery.CategoryName</h2>
            <hr>
        </div>
        <div class="salads-pictures-gallery">
            @for (int row = 0; row < columnCount; row++)
            {
                <article>
                    @for (int column = 0; column < columnCount; column++)
                    {
                        int imagePostition = column * columnCount + row;
                        if (imagePostition < gallery.Recipes.Count)
                        {
                            RecipeViewModel recipe = gallery.Recipes[imagePostition++];
                            <a href="/Recipe/More/@recipe.Id">
                                <div data-attr="@recipe.Name">
                                    <img src="@recipe.ImagePath" alt="@recipe.Name">
                                </div>
                            </a>
                        }
                    }
                </article>
            }
        </div>
    </section>
}