@model CulinaryBlogCore.Models.RecipeViewModels.MoreRecipeViewModel

@{
    ViewBag.Title = "More recipe";
}

<section class="dish" style="background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url(@Model.ImagePath) no-repeat center; background-size: cover;">
    <article>
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
    </article>
</section>