@using CulinaryBlogCore.Models.RecipeViewModels;
@model CulinaryBlogCore.Models.RecipeViewModels.RecipeDetailsViewModel;

@{
    ViewData["Title"] = "My Recipes";
    ViewData["CurrUserId"] = Model.CurrUserId;
}
<section class="receipt salads">
    @foreach (RecipeDetailsViewModel recipe in Model.Recipes)
    {
        @Html.Partial("RecipePartial", recipe)
    }
    @Html.Partial("ModalBox")
</section>