@{
    ViewData["Title"] = "Gallery";
}
<section class="salads-pictures">
    <div class="salads-pictures-title">
        <h2>Salads</h2>
        <hr>
    </div>
    <div class="salads-pictures-gallery">
        <article>
            <div data-attr="Green salad"><img src="/images/Salads/green-salad.jpg" alt="green-salad"></div>
            <div data-attr="Raspberry salad"><img src="/images/Salads/raspberry-salad.jpg" alt="raspberry-salad"></div>
            <div data-attr="Sesame salad"><img src="/images/Salads/sesame-salad.jpg" alt="sesame-salad"></div>
        </article>
        <article>
            <div data-attr="Apple salad"><img src="/images/Salads/apple-salad.jpg" alt="apple-salad"></div>
            <div data-attr="Tomato salad"><img src="/images/Salads/tomato-salad.jpg" alt="tomato-salad"></div>
            <div data-attr="Healthy salad"><img src="/images/Salads/salad-healthy.jpg" alt="salad-healthy"></div>
            <div data-attr="Meat salad"><img src="/images/Salads/meat-salad.jpg" alt="meat-salad"></div>
        </article>
        <article>
            <div data-attr="Snejanka salad"><img src="/images/Salads/snejanka-salad.jpg" alt="snejanka-salad"></div>
            <div data-attr="Pasta salad"><img src="/images/Salads/pasta-salad.jpg" alt="pasta-salad"></div>
            <div data-attr="Cheese salad"><img src="/images/Salads/cheese-salad.jpg" alt="cheese-salad"></div>
        </article>
    </div>
</section>
<section class="pizza-pictures">
    <div class="pizza-pictures-title">
        <h2>Pizza</h2>
        <hr>
    </div>
    <div class="pizza-pictures-gallery">
        <div class="span-c2" data-attr="Americana"><img src="/images/Pizza/Americana.jpg" alt="Americana"></div>
        <div class="span-r2" data-attr="Carbonara"><img src="/images/Pizza/Carbonara.jpg" alt="Carbonara"></div>
        <div data-attr="Crudo"><img src="/images/Pizza/Crudo.jpg" alt="Crudo"></div>
        <div data-attr="Pugliese"><img src="/images/Pizza/Pugliese.jpg" alt="Pugliese"></div>
        <div class="span-r2" data-attr="Fattoria"><img src="/images/Pizza/Fattoria.jpg" alt="Fattoria"></div>
        <div class="span-r2" data-attr="Tirolese"><img src="/images/Pizza/Tirolese.jpg" alt="Tirolese"></div>
        <div class="span-c2" data-attr="Sarda"><img src="/images/Pizza/Sarda.jpg" alt="Sarda"></div>
        <div data-attr="Montanara"><img src="/images/Pizza/Montanara.jpg" alt="Montanara"></div>
        <div data-attr="Pugliese"><img src="/images/Pizza/Pugliese.jpg" alt="Pugliese"></div>
        <div data-attr="Calzone"><img src="/images/Pizza/Calzone.jpg" alt="Calzone"></div>
        <div class="span-c1" data-attr="Tonno"><img src="/images/Pizza/Tonno.jpg" alt="Tonno"></div>
        <div class="span-r2" data-attr="Mimosa"><img src="/images/Pizza/Mimosa.jpg" alt="Mimosa"></div>
        <div data-attr="Caprese"><img src="/images/Pizza/Caprese.jpg" alt="Caprese"></div>
        <div data-attr="Fontana"><img src="/images/Pizza/Fontana.jpg" alt="Fontana"></div>
    </div>
</section>
<section class="desserts-pictures">
    <div class="desserts-pictures-title">
        <h2>Desserts</h2>
        <hr>
    </div>
    <div class="desserts-pictures-gallery">
        <article>
            <div data-attr="Cake"><img src="/images/Dessert/Cake.jpg" alt="Cake"></div>
            <div data-attr="Black chocolate"><img src="/images/Dessert/Black-chocolate.jpg" alt="Black-chocolate"></div>
            <div data-attr="Chocolate cake"><img src="/images/Dessert/Chocolate-cake.jpg" alt="Chocolate-cake"></div>
            <div data-attr="Pancake"><img src="/images/Dessert/Pancake.jpg" alt="Pancake"></div>
            <div data-attr="Strawberries cake"><img src="/images/Dessert/strawberries-cake.jpg" alt="strawberries-cake"></div>
        </article>
        <article>
            <div data-attr="Cheesecake"><img src="/images/Dessert/Cheesecake.jpg" alt="Cheesecake"></div>
            <div data-attr="Cookies"><img src="/images/Dessert/Cookies.jpg" alt="Cookies"></div>
            <div data-attr="Doughnut"><img src="/images/Dessert/Doughnut.jpg" alt="Doughnut"></div>
            <div data-attr="Pears cake"><img src="/images/Dessert/pears-cake.jpg" alt="pears-cake"></div>
        </article>
        <article>
            <div data-attr="Frappe"><img src="/images/Dessert/frappe.jpg" alt="frappe"></div>
            <div data-attr="Fried ice cream"><img src="/images/Dessert/Fried-ice-cream.jpg" alt="Fried-ice-cream"></div>
            <div data-attr="Mug truffles"><img src="/images/Dessert/mug-truffles.jpg" alt="mug-truffles"></div>
            <div data-attr="Raspberry"><img src="/images/Dessert/Raspberry.jpg" alt="Raspberry"></div>
        </article>
    </div>
</section>