<footer>
    <section class="info">
        <article class="contact-us">
            <h3>Contact us</h3>
            <ul>
                <li><span>Address:</span> Sofia, Bulgaria <i class="fas fa-map-marker-alt"></i></li>
                <li><span>E-mail:</span> cooking@gmail.com <i class="fas fa-envelope"></i></li>
                <li><span>Phone:</span> +395 213 723 <i class="fas fa-phone"></i></li>
                <li><span>Work time:</span> 09:00 - 17:30 <i class="far fa-clock"></i></li>
            </ul>
        </article>
        <article class="subscribe">
            <h3>Subscribe to The Daily Receipts</h3>
            <form action="#">
                <input type="email" name="email" placeholder="Enter Email Address">
                <input type="submit" value="Submit">
            </form>
        </article>
        <article class="follow-us">
            <h3>Follow us</h3>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
        </article>
    </section>
    <section class="rights">
        <p>Copyright &copy; 2018 <span>Cook</span>ing &middot; All Rights Reserved.</p>
    </section>
</footer>