<header class="header">
    @{
        string isAdmin = User.IsInRole("Admin") ? "admin-logo" : "";
    }
    <div class="header-logo @isAdmin">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/Chef-Logo.png" alt="chef-logo"></a>
        <h1><a asp-area="" asp-controller="Home" asp-action="Index"><span>Cook</span>ing</a></h1>
        @if (User.Identity.IsAuthenticated)
        {
            <span class="log-user">Welcome, @User.Identity.Name</span>
        }
    </div>

    <label for="nav" class="header-menu">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        <span>Menu</span>
    </label>

    @{ 
        Html.RenderPartial("_Navigation"); 
    }
</header>