<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipe Subscription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <!-- <style>
        @media screen and (max-width:600px) {
            .layout-container {
                background: red;
            }

            .layout-container .desktop {
                display: none!important;
            }
        }
    </style> -->
</head>
<body bgcolor="#028bd2" style="margin: 0; background-color: #f6f1e6">
    <center>
        <div style="width: 600px;">

            <table bgcolor="#eeddac" style="border-collapse: collapse;table-layout: fixed; width: 600px; border-spacing: 0; background-size: cover;" border="0" cellmargin="0" cellspacing="0" background="https://i.imgur.com/LbuM3co.jpg">
                <tr>
                    <!-- hero -->
                    <td align="center" style="height: 332px; color:#fff;">
                        <div style="margin: 0 84px;">
                            <div>
                                <img src="https://i.imgur.com/XY9EF5R.png" width="150" alt="Cooking">
                            </div>
                            <div class="h1" style="font-family: Arial; font-size: 36px; font-weight: bold; margin: 20px 0;">
                                Thank you!
                            </div> <!-- ./ h1 -->
                            <!-- .h2 -->
                            <div class="h2" style="font-family: Courier; font-size: 18px; font-weight: normal; line-height: 22px; font-weight: 800; text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.38);">
                                You have successfully unsubscribe for recipes.
                            </div> <!-- ./ h2 -->
                        </div>
                    </td>
                </tr><!-- ./ hero -->
            </table>
            <table style="border-collapse: collapse;table-layout: fixed; width: 600px; border-spacing: 0;" border="0" cellmargin="0" cellspacing="0">
                <tr bgcolor="#fff" style="background: #fff;">
                    <td>
                        <table class="layout-container" style="border-collapse: collapse; table-layout: fixed; width: 600px; border-spacing: 0;" border="0" cellmargin="0" cellspacing="0">
                            <tr>
                                <!-- Content layout -->
                                <td class="desktop" style="width: 66px; height: 28px;">
                                    <!-- left space -->
                                </td>
                                <td class="desktop" style="width: 18px; height: 28px;">
                                    <!-- left space -->
                                </td>
                                <td style="width: 10px;height: 28px;">
                                    <!-- left content space -->
                                </td>
                                <td style="height: 28px;">
                                    <!-- content -->
                                </td>
                                <td style="width: 10px;height: 28px;">
                                    <!-- right content space -->
                                </td>
                                <td class="desktop" style="width: 84px; height: 28px;">
                                    <!-- left space -->
                                </td>
                            </tr>
                            <tr>
                                <td class="desktop" style="width: 66px;"></td>
                                <td class="desktop" style="width: 18px; background: #eeddac;" bgcolor="#eeddac"></td>
                                <td style="width: 10px;"></td>
                                <td align="left">
                                    <!-- text-c -->
                                    <div class="text-c" style="font-family: Courier; font-size: 14px; font-weight: normal; line-height: 20px;">
                                        <!-- p -->
                                        <div class="p" style="margin-bottom: 22px;">Thank you for joining our cooking community.</div> <!-- ./p -->
                                        <!-- p -->
                                        <div class="p" style="margin-bottom: 22px;">It was a pleasure working with you. If there is any problem please let us know.</div> <!-- ./p -->

                                        <div>
                                            <!-- h3 -->
                                            <div class="h3" style="font-family: Arial; font-size: 14px; font-weight: bold; line-height: 20px;margin-bottom: 12px;">
                                                <div>
                                                    See you soon!
                                                </div>
                                                <div>
                                                    Cooking team
                                                </div>
                                            </div><!-- ./h3 -->
                                        </div>
                                    </div>
                                </td><!-- ./text-c -->
                                <td style="width: 10px;"></td>
                                <td class="desktop" style="width: 84px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr bgcolor="#fff" style="background-color: #fff;">
                    <td>
                        <table style="border-collapse: collapse; table-layout: fixed; width: 600px; border-spacing: 0;" border="0" cellmargin="0" cellspacing="0">
                            <tr>
                                <!-- Content layout -->
                                <td style="width: 84px; height: 50px;">
                                    <!-- left space -->
                                </td>
                                <td style="width: 10px;height: 50px;">
                                    <!-- left content space -->
                                </td>
                                <td style="height: 50px;">
                                    <!-- content -->
                                </td>
                                <td style="width: 10px;height: 50px;">
                                    <!-- right content space -->
                                </td>
                                <td style="width: 84px; height: 50px;">
                                    <!-- left space -->
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 84px;"></td>
                                <td style="width: 10px;"></td>
                                <td align="left">
                                    <!-- text-c -->
                                    <div class="text-c" style="font-family: Courier; font-size: 14px; font-weight: normal; line-height: 20px;">
                                        <div class="text-a-small" style="font-family: Arial; font-size: 10px; font-weight: normal; line-height: 16px; margin-bottom: 16px;">
                                            Please do not reply to this message. To contact Cooking,  reach us at <a href="mailto::cooking@gmail.com" style="color:#d09f13; text-decoration: none;">cooking@gmail.com</a>
                                        </div>

                                        <div class="text-a-small" style="font-family: Arial; font-size: 10px; font-weight: normal; line-height: 16px;">
                                            &copy; copyright 2020 Cooking
                                        </div>
                                    </div>
                                </td><!-- ./text-c -->
                                <td style="width: 10px;"></td>
                                <td style="width: 84px;"></td>
                            </tr>
                            <tr>
                                <!-- Content layout -->
                                <td style="width: 84px; height: 10px;">
                                    <!-- left space -->
                                </td>
                                <td style="width: 10px;height: 10px;">
                                    <!-- left content space -->
                                </td>
                                <td style="height: 10px;">
                                    <!-- content -->
                                </td>
                                <td style="width: 10px;height: 10px;">
                                    <!-- right content space -->
                                </td>
                                <td style="width: 84px; height: 10px;">
                                    <!-- left space -->
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </div>
    </center>
</body>
</html>